Q1. Write a code to print the data present in the second row of the dataframe, df.

In [ ]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration': duration})

In [ ]:
df.iloc[0]

course_name    Data Science
duration                  2
Name: 0, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc and iloc are both used in Pandas dataframes to select data based on index or label. The main difference between them is that loc is used to select rows and columns by label, whereas iloc is used to select rows and columns by integer index.

loc: This function is primarily label based, but it can also be used with a boolean array. It is used to select rows and columns by label. It can take two arguments: row label and column label. For example, df.loc[1, 'duration'] selects the value in the 'duration' column of the row with label 1.

iloc: This function is purely integer index based. It is used to select rows and columns by integer index. It can take two arguments: row index and column index. For example, df.iloc[1, 1] selects the value in the second column of the second row of the dataframe.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [ ]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration': duration})

In [ ]:
df.reindex([3,0,1,2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [ ]:
df.sort_index()

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [ ]:
new_df = df.reindex([3,0,1,2])
new_df

   A  B   C
3  4  8  12
0  1  5   9
1  2  6  10
2  3  7  11

In [ ]:
new_df.loc[2]

A     3
B     7
C    11
Name: 2, dtype: int64

In [ ]:
new_df.iloc[2]

A     2
B     6
C    10
Name: 1, dtype: int64

The output for new_df.loc[2] will be the third row of the dataframe (with index label 1), since loc is used for selecting rows by label. The output for new_df.iloc[2] will be the second row of the dataframe (with integer index 2), since iloc is used for selecting rows by integer index.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [ ]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.977828  0.947998  0.878190  0.636918  0.205062  0.108810
2  0.799824  0.043593  0.594414  0.657372  0.119948  0.064109
3  0.780805  0.125323  0.675332  0.154675  0.970173  0.040978
4  0.761271  0.338561  0.624313  0.805648  0.286386  0.734858
5  0.656161  0.775702  0.557085  0.479318  0.911037  0.377698
6  0.422280  0.859944  0.416107  0.085732  0.885609  0.443934

In [ ]:
df1.mean() #(i) mean of each and every column present in the dataframe.

column_1    0.733028
column_2    0.515187
column_3    0.624240
column_4    0.469944
column_5    0.563036
column_6    0.295065
dtype: float64

In [ ]:
df1['column_2'].std()  #(ii) standard deviation of column, ‘column_2’

0.39487781788202675

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']


indices = [1,2,3,4,5,6]

df3 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [ ]:
df3.loc[2,'column_2'] = 'string variable'

In [ ]:
df3

   column_1         column_2  column_3  column_4  column_5  column_6
1  0.476219         0.877653  0.171770  0.456093  0.193607  0.983665
2  0.664858  string variable  0.106719  0.478325  0.529370  0.886835
3  0.441873         0.933772  0.432646  0.654775  0.106392  0.476399
4  0.339624          0.66005  0.125150  0.425779  0.281612  0.786762
5  0.947981         0.433401  0.530404  0.825426  0.274953  0.255466
6  0.182739         0.082663  0.971279  0.278486  0.667241  0.111566

In [ ]:
df3['column_2'] = pd.to_numeric(df3['column_2'] , errors ='coerce')

In [ ]:
df3['column_2'].mean()

0.5975080168380507

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function is a function that performs a calculation over a sliding window of data. The window function can be applied to a series or a dataframe column and allows you to perform calculations on a rolling basis over a specified window size.

There are several types of window functions in pandas. Here are some of the common types:

Rolling window functions: These functions operate on a rolling window of data with a specified window size and return a new series or dataframe. Some common rolling window functions include rolling(), expanding(), and ewm().

Aggregation window functions: These functions operate on a window of data and return a single aggregated value. Some common aggregation window functions include sum(), mean(), max(), and min().

Transformation window functions: These functions perform a calculation on a window of data and return a new series or dataframe with the same shape as the original data. Some common transformation window functions include shift(), diff(), and pct_change().

Window-apply functions: These functions apply a custom function to a window of data and return the result. Some common window-apply functions include apply(), aggregate(), and transform().

Q7. Write a code to print only the current month and year at the time of answering this question.

In [ ]:
import pandas as pd
now = pd.Timestamp('now')

In [ ]:
current_month = now.month

In [ ]:
current_year = now.year

In [ ]:
print(f"The current month and year:{current_month}-{current_year}")

The current month and year:3-2023

In [ ]:
pd.Timestamp('now').year

2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd


date1_str = input("Enter the first date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1_str)


date2_str = input("Enter the second date (YYYY-MM-DD): ")
date2 = pd.to_datetime(date2_str)

delta = date2 - date1


days = delta.days
hours = delta.seconds 
minutes = delta.seconds


print(f"The difference between {date1_str} and {date2_str} is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2020-2-2
Enter the second date (YYYY-MM-DD): 2020-2-18
The difference between 2020-2-2 and 2020-2-18 is:
16 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd 
ad = pd.read_csv('bhushan1.csv')

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(",")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to a categorical variable with the specified category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(by=column_name)

# Display the sorted DataFrame
print(df_sorted)

Enter the file path: /content/bhushan1.csv
Enter the column name: age
Enter the category order (comma-separated): age,marks,name
   Unnamed: 0 name  age  marks
0           0    a  NaN     55
1           1    b  NaN     66
2           2    c  NaN     56
3           3    d  NaN     67
4           4    e  NaN     88
5           5    b  NaN     98

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file
sales_data = pd.read_csv(file_path)

# Group the data by product category and date and sum up the sales for each group
grouped_data = sales_data.groupby(['Product Category', 'Date'])['Sales'].sum().unstack()

# Create a stacked bar chart using pandas plotting function
grouped_data.plot(kind='bar', stacked=True, title='Sales by Product Category')

# Set the axis labels
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results

In [1]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using Pandas tools
mean = data['Test_Score'].mean()
median = data['Test_Score'].median()
mode = data['Test_Score'].mode()
a =(",".join(str(x) for x in mode))


print(f"+-----------+--------+")
print(f"| Statistic | Value  |")
print(f"+-----------+--------+")
print(f"| Mean      | {mean}   |")
print(f"| median    | {median}  |")
print(f"| median    | {a}   |")
print(f"+-----------+--------+")

Enter the file path of the CSV file containing the student data: /content/badal.csv
+-----------+--------+
| Statistic | Value  |
+-----------+--------+
| Mean      | 72.2   |
| median    | 73.0  |
| median    | 65,90   |
+-----------+--------+